.navbar {
  background-color: #f6f4f1;
  display: flex;
  flex-wrap: nowrap;
  height: 9vh;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.nav-brand {
  margin-right: auto;
  font-size: 25px;
  border: #3b4b501d solid 3px;
  padding: 3px;
  border-style: ridge;
}

.logo {
  transform: scale(0.2);
}

.logout {
  transition: transform 250ms ease;
  margin-left: auto;
  height: 30px;
  padding: 5px;
}

.logout:hover{
  transform: scale(1.1);
}