.navbar{
    background-color: #f6f4f1;
    display: flex;
    flex-wrap: nowrap;
    height:80px;
    align-items: center;
    justify-content: center;
    padding:10px
}

.nav-brand{
    margin-right: auto;
    font-size:30px;
}

.logo{
    transform:scale(0.25);
}

.sign-in{
    margin-left: auto;
    height:30px;
    padding:5px;
}
